<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M16CYL4D4Z"></script>
    <script>
      const host = window.location.hostname;
      if (host !== "localhost") {
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-M16CYL4D4Z');
      }
    </script>
    <title>Genetic Startups - Startup world navigated by genetic algorithms</title>
    <meta name="description" content="Application of Genetic Algorithms to navigate the bumpy world of startups,
                                      attempting to find the best path in random maps with different startup-related events">
    <meta name="keywords" content="Genetic algorithms, Startups, Entrepreneurship, building a startup, best choices for startups">
    <meta name="author" content="Romén Rodríguez-Gil">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('genetic_startups.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
